@font-face {
    font-family: 'LeviBrush';
    src: url('LeviBrush.woff2') format('woff2'),
        url('LeviBrush.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

