@font-face {
    font-family: 'Turkish Participants';
    src: url('TurkishParticipants.woff2') format('woff2'),
        url('TurkishParticipants.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

