
.bsd-kb {
border: 5px solid yellow;
}

.bsd-hys-giris-cikis {
  border:5px solid red ;
display: flex;
justify-content: flex-end;
align-items: center;
gap: 10px;
}


.bsd-hys-kullanici-bilgisi {
display: flex;
align-items: center;
margin-left: 1px;
background: grey;
height: 30px;
}

.bsd-hys-kullanici-adi {
font-family: bsd-BlackOpsOne;
color: red;
}

.bsd-hyk1, .bsd-hy1 {
background-color: grey;
color: #f2f2f2;
padding: 20px;

}

